<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="footer-title">Follow Me!</h3>
                <p>Copyright © 2017 Guangyuan Union Hospital. 广元协和医院 版权所有<br/>
                    医院地址：<a href="#">东坝电子路中段</a><br/>
                    咨询热线：<a href="tel:0839-5513677">0839-5513677</a> 传真：<a href="tel:0839-5513677">0839-5513677</a> email：<a
                            href="#">service@gyxhyy.com</a><br>
                    前置批号:川卫网审[2016-096]号 ICP备案号:蜀ICP备10035726号-1
                </p>
                <!-- LICENSE -->


            </div> <!-- /col-xs-7 -->

            <div class="col-md-5">
                <div class="footer-banner">
                    <h3 class="footer-title">广元协和医院</h3>
                    <ul>
                        <li>广元协和医院男科</li>
                        <li>广元协和医院妇科</li>
                        <li>广元协和医院肝病科</li>
                        <li>广元协和医院内科</li>
                        <li>广元协和医院乳腺科</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="{$app_path}/phpcms/statics/m/js/jquery-1.10.2.js"></script>
<script src="{$app_path}/phpcms/statics/m/js/bootstrap.js"></script>
<script src="{$app_path}/phpcms/statics/m/js/owl.carousel.js"></script>
<script src="{$app_path}/phpcms/statics/m/js/script.js"></script>
<!-- StikyMenu -->
<script src="{$app_path}/phpcms/statics/m/js/stickUp.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
        $(document).ready( function() {
            $('.navbar-default').stickUp();

        });
    });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="{$app_path}/phpcms/statics/m/js/jquery.corner.js"></script>
<script src="{$app_path}/phpcms/statics/m/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="{$app_path}/phpcms/statics/m/js/classie.js"></script>
<script src="{$app_path}/phpcms/statics/m/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{$app_path}/phpcms/statics/m/js/jquery.magnific-popup.js"></script>
</body>

</html>